# AZURE_OPENAI_API_KEY="FU4XZpkvKp4CKM9aOrKhdv0kPGiccLnZ2LNHOeLlblGLLdiZ0O7TJQQJ99CCACHYHv6XJ3w3AAABACOG1IDW"
# AZURE_OPENAI_ENDPOINT="https://powerBiopenAi.services.ai.azure.com/openai/v1"
# AZURE_DEPLOYMENT_MINI="gpt-5.5"